<!-- <p>{{numero | number: '3.2-2'}}</p>
<p>{{numero | currency :'EUR' :true: '3.2-2' }}</p> -->

<!-- <p>The hero's birthday is {{ birthday | date: format }}</p>
<button (click)="toggleFormat()">Toggle Format</button> -->
<!-- <ul id="hola">
  <p>holaquehase</p>
</ul>
<p>date: {{printDate | date:'shortDate'}}</p>
<p>date: {{printDate | date:'fullDate'}}</p>
<p>{{cadena | capitalize}}</p>
<button (click)="increaseDate()">INCREMENTA UN DIA</button>
<p>{{"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus molestias eaque, quam maiores corporis optio a consectetur, consequatur nulla ea animi exercitationem accusamus at suscipit, labore iste dignissimos dolor autem." | smartTruncate : 54}}</p> -->

<app-item-list></app-item-list>
